// Styling for the contact section
section#research {
  //margin-bottom: 50px;
  text-align: left;
  //background-color: #FFF5EE;
  padding-top: 0px;
  h1 {
    margin-bottom: 150px;
  }
  h4 {
    margin-top: -10px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
    text-align: left;
  }
  a {
    color: #6C757D !important;
  }
  #news {
    padding-top: 12px;
  }
  .row {
    padding-bottom: 30px;
  }
  .paper {
    margin-bottom: 30px;
    padding: 10px;
    //display: flex;
    //align-items: center;
  }
  .paper-info {
    margin-bottom: 10px !important;
  }
  .paper-fig {
    width: 100%;
  }
  .keyword {
    //background-color: rgba(130,96,0,.5);
    background-color: rgb(137, 145, 150);
    color: white;
  }
  .asterisk {
    font-size: x-small;
    margin-top: -10px;
  }
  .btns {
    margin-bottom: 10px;
  }
  .lab {
    width: 95%;
    max-height: 100px;
  }
  .link {
    // hacky fix
    color: rgb(137, 145, 150) !important;
    &:hover {
      color: white !important;
    }
  }
  .text-muted {
    a {
      color: #868e96;
      &:hover {
        color: darken($primary, 10%);
      }
    }
  }
  .popover-body {
    max-width: 100%;
  }
}
