@import "minimal-mistakes";

// see https://github.com/mmistakes/minimal-mistakes/discussions/1219
html {
    font-size: 14px; // change to whatever

    @include breakpoint($medium) {
        font-size: 16px; // change to whatever
    }

    @include breakpoint($large) {
        font-size: 18px; // change to whatever
    }

    @include breakpoint($x-large) {
        font-size: 20px; // change to whatever
    }
}